.App {
  text-align: center;
}

:root {
  --bg-color: #1d5b79;
}

body {
  font-family: "Helvetica Neue";
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url(../public/Helvetica\ Neue/Helvetica\ Neue\ Regular/Helvetica\ Neue\ Regular.otf);
}

@media
(prefers-reduced-motion: no-preference) {
html {
  scroll-behavior: smooth;
}
}

body {
  background-color: white;
  height: 150vh;
}