:root {
    --nav-height: 5vh;
}

.separator {
    width: 100vw;
    height: var(--nav-height);
    background-color: #b22727;
    color: white;
    text-align: center;
    vertical-align: middle;
    display: flex;
}

.separator.stuck {
    position: fixed;
    top: 0px;
}

#link-table {
    width: 40vw;
    display: table;
    table-layout: fixed;
}

#link-table.vertical {
    width: 100vw;
}

#link-table > .link-wrapper {
    width: auto;
    height: var(--nav-height);
    display: table-cell;
    vertical-align: middle;
    line-height: var(--nav-height);
}

.link-wrapper > a {
    color: white;
    text-decoration: none;
    border-bottom: none;
    font-weight: bold;
}

#nav-buffer {
    width: 30vw;
    height: 100%;
}

#nav-buffer.disabled {
    width: 0px;
}

.disabled {
    visibility: hidden;
}